$box-width: 150px;
$border-width: 2px;
#board{
	width:  $box-width * 3 + $border-width * 2;
	height: $box-width * 3 + $border-width * 2;
	background-color: rgba(63, 127, 191, 0.45);
	position: relative;
}

.box {
	width:  $box-width;
	height: $box-width;
	background-color: white;
	position: absolute;
}

/* row 1 and col 1 doesn't need positioning */

.row2 {
	left: $box-width + $border-width;
}
.row3 {
	left: ($box-width + $border-width) * 2;
}
.col2 {
	top: $box-width + $border-width;
}

.col3 {
	top: ($box-width + $border-width) * 2;
}